.content{
  width: 100%;
  height: 100px;
}
#message{

}
.btn{
  padding: 5px;
  border-radius: 4px;
  background: #8bc34a;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}